{% extends 'basic.html' %} 

{% block title %} Resume {% endblock title %}

{%block body %}

  <section id="resume" class="resume">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Sumary</h3>
          <div class="resume-item pb-0">
            <h4>Kaustubh Prakash Ugale</h4>
            
            <ul>
              <li>Gayatri Nagar Nagpur 440022</li>
              <li>+91 8208362611</li>
              <li>kaustubh1644@gmail.com</li>
            </ul>
            </p>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Bachelor of Engineering</h4>
            <h5>06/2017 - 06/2022</h5>
            <p><em>Rajiv Gandhi College of Engineering &amp; Research</em></p>
            <p>I have completed my BE graduation from Rajiv Gandhi College of Engineering &amp; Research in Electrical branch </p>
          </div>
          <div class="resume-item">
            <h4>HSC</h4>
            <h5>2016 - 2017</h5>
            <p><em>C.P.&amp; Berar High School and Junior College, Nagp</em></p>
            <p>I have completed my 12th in Electronics</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">PERSONAL PROJECTS</h3>
          <div class="resume-item">
            <h4>FINAL YEAR PROJECT</h4>
           
            <ul>
              <li>
                  Power Generation by Speed Breaker
              </li>
            </ul>
  
            <h4> HOME AUTOMATION </h4>
  
            <ul>
              <li>
                  Using Arduino uno, HC 05 Wireless Bluetooth Module, Relay. You Can Control Your Home Applian
              </li>
            </ul>
  
           <h4> PYTHON PROJECT </h4>
  
           <ul>
              <li>
                  Front end and back end using Tkinter library and XAMPP SERVER
              </li>
              <li>
                  Login page using DJANGO FRAMEWORK
              </li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>LANGUAGES</h4>
           
            
            <p>
            <ul>
              <li>Marathi</li>
              <li>Hindi</li>
              <li>English</li>
            </ul>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>


  

  {% endblock body %}
